<template>
<div class="card">
  <div class="area-art"></div>

  <div class="area-form">
    <span>Sigin</span>
    <slot></slot>
  </div>
</div>
</template>

<style scoped>
.card {
  height: 600px;
  width: 1000px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 8px -6px #1071b1;
  display: flex;
}
.card .area-art {
  height: 100%;
  width: 60%;
  border-radius: 4px 0 0 4px;
  background-color: #1071b1;
}

.card .area-form {
  height: 100%;
  width: 40%;
  border-radius: 0 4px 4px 0;
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: center;
  align-items: center;
}

.card .area-form > span {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 20px;
}
</style>