<script setup>
import { UserOutlined, LockOutlined } from '@ant-design/icons-vue';
import { reactive } from 'vue';

const form = reactive({
  login: '',
  password: '',
});

const emit = defineEmits(['click-send']);

function sendData() {
  const data = { ...form };
  emit('click-send', data);
}

</script>

<template>
<a-form class="form-login" :model="form" layout="vertical">
  <a-form-item label="Login">
    <a-input v-model:value="form.login" size="large" type="text">
      <template #prefix>
        <user-outlined type="user" />
      </template>
    </a-input>
  </a-form-item>

  <a-form-item label="Senha">
    <a-input v-model:value="form.password" size="large" type="password">
      <template #prefix>
        <lock-outlined />
      </template>
    </a-input>
  </a-form-item>

  <a-form-item>
    <a-button type="primary" @click="sendData"> Entar </a-button>
  </a-form-item>
</a-form>
</template>

<style scoped>
.form-login {
  width: 100%;
}
</style>