<script setup>
import { useRouter } from 'vue-router';
import FormLogin from './components/FormLogin.vue';
import CardLogin from './components/CradLogin.vue';

const router = useRouter();

function sendData() {
  router.replace({ name: 'sales' });
}
</script>

<template>
  <div class="login-container">
    <card-login>
      <form-login @click-send="sendData"/>

      <a-anchor-link title="Esqueci minha senha"></a-anchor-link>
    </card-login>
  </div>
</template>

<style scoped>
.login-container {
  height: 100vh;
  width: 100%;
  background-color: #D2E3EE;
  display: grid;
  place-items: center;
}
</style>